.row .col {
    text-align: end;
    height: 130px;
    padding: 12px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    opacity: 0.8;
}

.row .empty {
    border: none;
    opacity: 0;
}

.d-block {
    margin-top: -20px;
    width: 100px;
}