.galaxy {
    white-space: pre-wrap;
    font-family: monospace;
    font-weight: bolder;
    background-color: #020203;
    z-index: -1;
}

.galaxy-text {
    font-size: 4.5px;
    color: white;
    background-color: #0a080b33;
    z-index: 1;
    position: absolute;
}

.gal-img {
    height: 100%;
}

.gal-cont {
    position: absolute;
    right: 0%;
}

.fade-in {
    animation: fade-in 3s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.dest-cont {
    position: absolute;
    text-align: center;
}

.destination {
    position: absolute;
    background-color: #0a080b53;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    padding-top: 3px;
    z-index: 2;
}

.dest-cap {
    position: absolute;
    color: white;
    font-family: 'Times Now';
    border: dashed white 1.5px;
    background-color: #0a080b53;
    padding: 5px;
    font-size: 12px;
    margin-left: 50px;
    opacity: 0;
    z-index: 2;
}

.space-obj {
    font-size: 10px;
}

.dest-cont .destination:hover + .dest-cap {
    opacity: 1;
}

.title-cont {
    position: absolute;
    left: 5%;
}

.space-text {
    font-family: "Times Now";
    color: white;
    z-index: 3;
    margin: 15px;
}

.space-title {
    font-size: 3.5vw;
}

.space-subtitle {
    font-size: 20px;
}