.patch {
    width: 100px;
    height: 100px;
}

.sticker {
    object-fit: contain;
    width: 50px;
}

.container {
    width: 500px !important;
}

.quilt {
    width: 500px !important;
    height: fit-content;
}

.quilt-border {
    border: 1px dashed pink;
    height: 600px;
    position: fixed;
}