@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Times Now";
  src: url("./styling/TimesNow-Light.woff2") format("woff");
}

@font-face {
  font-family: "Inter";
  src: url("./styling/Inter/Inter-VariableFont_slnt,wght.ttf")
    format("truetype");
}

body {
  font-family: "Times Now", Times, serif;
}

.inter {
  font-family: "Inter";
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
}
